<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ site.title }}</title>
   	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<link rel="stylesheet" href="css/impress.css">
	<link rel="stylesheet" href="css/pygments.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="impress-not-supported">
<div class="fallback-message"><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p></div>
<div id="impress">
